[submodule "examples/pybullet/utils"]
	path = examples/pybullet/utils
	url = git@github.com:jorge-a-mendez/pybullet-planning.git 
[submodule "downward"]
	path = downward
	url = git@github.com:jorge-a-mendez/downward.git
